body{
  background: #b70004;
  color: #2c2c2c;
}
@media (min-width: 1000px) {
    .cabecalho{
      margin: 0 auto;
      display: block;
      width: 1000px;
      border:2px solid black;
    }
}
.maintitle{
    text-align: center;
}
a{
  color:black;
  text-decoration: none;
}
a:hover{
  color: black;
  background:white;
}


}

.paragrafo{
font-family: "Verdana";
Size: "2.5";

}
